@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: oklch(0.5671 0.209451 257.9449);
  --color-focus: oklch(0.5671 0.209451 257.9449);
  --font-sans: 'Instrument Sans', sans-serif;
  --breakpoint-md: 54rem;
}

@layer base {
  body {
    @apply bg-neutral-200 min-h-screen;
  }
  .without-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
